* {
    margin: 0;
    border: 0;
    font-family: "Georama", sans-serif;
}

/* For navbar */

.navbar {
    background-color: #393E41;
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    top: 0;
}

img {
    height: 6vh;
    width: auto;
}

#navbar-logo a {
    grid-area: a;
    align-self: center;
}

#navbar-logo {
    display: grid;
    width: 40%;
    justify-items: center; 
    grid-template-areas: 
        "a a a a b";
}

#navbar-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-menu-item {
    color: #FFF;
    text-decoration: none;
}

/* For main */

main section {
    background-color: #F6F7EB;
}

/* For home section */

#home {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-bottom: 10vh;
}

#home-intro {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

#home-intro p {
    display: inline-block;
    width: 80%;
    padding-left: 15%;
}

#home-image {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}

#home-image img {
    height: 40vw;
    width: 30vw;
    padding-bottom: 15%;
}

#greet {
    font-size: 3em;
    font-weight: 600;
    color: #393E41;
}

#name {
    font-size: 6em;
    font-weight: 600;
    color: #393E41;
}

#brief-description, #link-to-about {
    font-size: 1.5em;
    color: #478C7F;
}

#link-to-about a {
    color: #E94F37;
    text-decoration: none;
}

/* For skills section */

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10vh 0;
}

#skills p {
    width: 100vw;
    font-size: 3em;
    text-align: center;
    color: #393E41;
    padding: 5vh 0;
}

#skills img {
    height: 10vh;
    width: auto;
    padding: 0 2vw;
    margin-bottom: 5vh;
}

/* For message section */

#message {
    display: flex;
    width: 100vw;
    padding: 10vh 0;
}

#message-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5vh 0;
}

#message-form p {
    font-size: 2.5em;
    color: #393E41;
    font-weight: 700;
    margin: 2.5vh 0;
    text-align: center;
}

#message-form form {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.form-element {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}

.form-label {
    color: #478C7F;
    margin-bottom: 2vh;
    font-size: 1.1em;
    font-family: 'Lato';
}

.form-input {
    border-bottom: #393E41 3px solid;
    font-size: 1.1em;
    margin-bottom: 3vh;
    outline: none;
    background-color: #F6F7EB;
    resize: none;
    font-family: 'Lato';
}

#form-submit {
    padding: 1vh 1vw;
    background-color: #478C7F;
    color: white;
    font-size: 1em;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    width: 10%;
    border: #478C7F 1px solid;
}

#form-submit:hover {
    color: #478C7F;
    background-color: white;
}

#message-img {
    width: 40%; 
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-img img {
    width: 60%;
    height: auto;
}

/* For about section */

#about {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
}

#about-content-title {
    display: flex;
}

#about-content-title p {
    font-size: 2.5em;
    font-weight: 700;
    color: #393E41;
    width: 20%;
}

#about-content-title-line {
    margin-left: 5%;
    width: 60%;
    border-top: #393E41 3px solid;
    position: relative;
    top: 25px;
}

#about-content-description {
    font-family: "Lato";
    font-size: 1.2em;
    margin-top: 5vh;
    margin-bottom: 10vh;
    line-height: 1.5;
}

/* For contact section */

#contact {
    display: flex;
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
}

#contact-socmed {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#contact-socmed p {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 7vh;
    color: #393E41;
    text-align: center;
}

#contact-socmed-logos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.logos {
    width: 5vw;
    height: auto;
    margin-right: 2vw;
    cursor: pointer;
}

#contact-img {
    width: 40%;
}

#contact-img img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* For footer */

footer {
    background-color: #F6F7EB;
}

footer p {
    text-align: center;
    font-size: 1em;
    color: #478C7F;
    font-weight: 500;
    padding: 5vh 0;
}

#abel {
    color: #E94F37;
    cursor: pointer;
}